.container {
  max-width: 768px;
  padding: 0 1rem;
  margin: 1rem auto 6rem;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

a.headerItem {
  color: var(--bs-primary-color);
  text-decoration: none;
}

.headerItem {
  margin-right: 1rem;
}

.logoJessika {
  color: #9999ff;
}

.logoDev {
  color: #3333ff;
}

.logoDev,
.logoJessika {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
}
